form {
	width: 285px;
}
fieldset {
	padding-inline-end: 1rem;
	border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	font-weight: bold;
}
h4 {
	margin: 15px 4px 0 0;
	font-weight: 400;
}
.loginmessage {
	text-align: center;
	font-weight: 400;
}
input {
	width: calc(100% - 1em);
	padding: 10px 0 10px 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	vertical-align: middle;
}
input:hover {
	border: 1px solid #095484;
	background: #e6eef7;
}
button {
	margin: 15px 0 4px;
	width: 50%;
	float: right;
	padding: 10px;
	border: 1px solid black;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 3px;
	background-color: #4caf50;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
}
